body{
    height: 300px;
    /* background: radial-gradient(circle farthest-corner,red 5%,green 15%,blue 60%); */
    background: radial-gradient(circle farthest-side at left bottom,red ,green ,blue );
    background-repeat: no-repeat;
}