/*层叠属性加权*/
body{
    background-color: blanchedalmond;
    color: green;
    font-size: 24px;
}
ul{
    background-color: turquoise;
}
li{/*标签选择器,普通标签1分加权*/
    background-color:#FFFF0096;/*可以设置为RGBA*/
    color: red;
}
.theLi{/*类选择器10分加权*/
    color: violet;
}